<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">

  <Identity Name="KiwixFoundation.Kiwix"
            Version="2.4.1.0"
            Publisher="CN=Kiwix Foundation"
            ProcessorArchitecture="x64"/>

  <Properties>
    <DisplayName>Kiwix</DisplayName>
    <PublisherDisplayName>Kiwix Foundation</PublisherDisplayName>
    <Description>View offline content from Wikipedia, Project Gutenberg, TED Talks and thousands of other educational resources</Description>
    <Logo>Assets\StoreLogo.png</Logo>
    <PackageIntegrityLevel>mediumIL</PackageIntegrityLevel>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0"/>
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="KiwixDesktop" Executable="kiwix-desktop.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Kiwix"
                          Description="View offline educational content"
                          BackgroundColor="#2E7D32"
                          Square150x150Logo="Assets\Square150x150Logo.png"
                          Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"
                         Square310x310Logo="Assets\LargeTile.png"
                         Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png"/>
      </uap:VisualElements>

      <Extensions>
        <!-- File type associations -->
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="zimfile">
            <uap:SupportedFileTypes>
              <uap:FileType>.zim</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ZIM Archive</uap:DisplayName>
            <uap:InfoTip>Offline content archive file</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\ZimFileIcon.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <!-- Protocol registration for kiwix:// URLs -->
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="kiwix">
            <uap:DisplayName>Kiwix Protocol</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
    <Capability Name="privateNetworkClientServer"/>
    <rescap:Capability Name="runFullTrust"/>
    <uap:Capability Name="removableStorage"/>
    <uap:Capability Name="documentsLibrary"/>
  </Capabilities>

</Package>
